@{
    
}

<div class="joel-section">
    <h1 class="joel-title">Get to Know Joel</h1>

    <div class="joel-links">
        <a class="joel-link" href="https://www.qwcomedy.com/" target="_blank">
            Quick Wits Comedy
        </a>
    </div>

    <div class="bacon-card">
        <a href="https://baconsale.com/" target="_blank" class="bacon-link">
            <img src="~/img/BaconsaleKate.jpg" alt="Bacon Sale">
            <h3>Bacon Sale</h3>
        </a>
    </div>
</div>

